%p
  Sort by:
  = link_to "Likes", params.merge(sort: true, by: "likes_count")
  |
  = link_to "Hates", params.merge(sort: true, by: "hates_count")
  |
  = link_to "Date", params.merge(sort: true, by: "published_at")
  |
  = link_to "Most voted", params.merge(sort: true, by: "ratings_count")
  |
  = link_to "Best Rated", params.merge(sort: true, by: "likes_to_ratings_ratio")